################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Anwendungsprogrammierung/v16
/Anwendungsprogrammierung/obj
/aufgabe1/obj
/aufgabe1/bin/Debug/netcoreapp3.1
/uebung2/obj
/aufgabe2/obj
/uebung1/obj
