################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CSharp/*/obj
/CSharp/*/bin
/VB/*/bin
/VB/*/obj
/CSharp/fahrtenbuch/fahrtenbuch/bin/Debug/net6.0-windows
/CSharp/winform_start/winform_start/bin/Debug/net6.0-windows
/CSharp/fahrtenbuch/fahrtenbuch/obj
/CSharp/winform_start/winform_start/obj
/CSharp/fahrtenbuch/fahrtenbuch/Database1.mdf
/CSharp/fahrtenbuch/fahrtenbuch/Database1_log.ldf
/CSharp/apiProjekt/AppData
/FahrtenbuchWPF/obj
/FahrtenbuchWPF/bin/Debug/net6.0-windows
